:root { /* reset the font*/
  --bs-font-sans-serif: 'Ruik' sans-serif;
} 

/* .container-xxl{ max-width: 1530px;} - set container little bigger */

body {
  background-image: url("/img/i-like-food.svg");
  background-color: rgb(243, 243, 243);
}

/* reset anchor links color */
a { color: var(--bs-dark);}

/* Category Card - Index.ejs */
.category__link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}
/* category hover */
.category__link:hover{
  transform: scale(1.1);
}

.category__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0.16);
  overflow: hidden;
  border-radius: 8px;
}

.category__img--large {
  height: 330px;
  
}
/* category images fits all the time */
.category__img img {
  width: 100%;
  object-fit: cover;
}